*{
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}
.tab{
    height: 100vh;
    width: 100%;
    background: rgb(236, 234, 234);
    display: grid;
    place-content: center;
    transition: transform 300ms ease;
}

.popup-button{
    background-color:  white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: transform 300ms ease;
}

.popup-button:hover {
    transform: translateY(-0.15rem);
}

.popup-title {
    text-align: start;
    padding-top: 0.8rem;
}

.popup-content {
    text-align: justify;
    width: 80%;
    padding: 1rem;
}

#modal-toggle{
    display: none;
}

#modal{
    position: absolute;
    transform: translate(100%, -100%);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: background-color 300ms ease;
}

#modal-toggle:checked ~ #modal{
    transform: translate(0%, 0%);
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
}

.modal-box{
    position: relative;
    background: white;
    display: grid;
    place-items: center;
    max-height: 50%;
    width: 50%;
    border-radius: 1rem;
    overflow: hidden;
}

.close-button {
    position: absolute;
    padding: 0.01rem 0.3rem;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 100%;
    top: 0.6rem;
    right: 0.6rem;
}

@media (max-width: 768px) {
    .modal-box{
        width: 80%;
    }
}